@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

/* base styles */

/* navbar */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #f1356d;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #f1356d;
}

#username-link {
  margin-left: 0px;
}

#profile-pic {
  height: 30px;
  padding-top: 5px;
}

/* navbar */

/* content of the app */
.content {
  max-width: 80%;
  margin: 40px auto;
  padding: 20px;
}

/* content of the app */

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
}

.blog-preview h2 {
  font-size: 20px;
  display: inline-block;
  padding-right: 10px;
  color: #f1356d;
  margin-bottom: 8px;
}

.blog-preview a {
  text-decoration: none;
}

.section-title {
  display: inline-block;
  padding-right: 10px;
}

.lessons-toggle-btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 1.5rem;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.lessons-toggle-btn:hover {
  background-color: #f0f0f0;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.lessons-toggle-btn:active {
  transform: scale(0.95);
}

.lessons-toggle-btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

/* blog previews / list */

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}

.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */

/* blog detail */
.lesson-details article {
  width: 95%;
  padding: 40px;
  background-color: #f4f4f4;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.lesson-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}

.lesson-details div {
  margin: 20px 0;
}

.lesson-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.lesson-content {
  max-width: 90%;
  margin-top: 50px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.lesson-content p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #333;
  font-family: 'Arial', sans-serif;
  text-align: justify;
}

.lesson-content p:last-child {
  margin-bottom: 0;
}

/* blog detail */

/* not found */
.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  text-align: center;
  background: rgba(255, 207, 211, 0.1);
  color: #333;
}

.not-found-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.not-found-link {
  background: rgba(241, 53, 109, 0.2);
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  text-decoration: none;
  border: 2px solid rgba(241, 53, 109, 0.2);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}

.not-found-link:hover {
  background-color: rgba(241, 53, 109, 0.8);
  color: #fff;
}

/* not found */